---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import SocialList from "@/components/SocialList";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>

		<div class="flex sm:flex-row gap-x-12 gap-y-12 flex-col">
			
			<div class="space-y-6 order-last sm:order-first">
				<p>
					Hi there 👋 I’m Andie (she/her), this is a place where I document my journey dabbling in
					software & design since 2014.
				</p>
				<p>
					In my previous life, I was an excel whiz & map wrangler helping economists and town
					planners make better policy decisions with data. It was then I discovered software
					development and ignited my curiousity in product and design.
				</p>
				<p>
					Highlights from this journey is knowing that the products that I helped build are enabling
					people to live and work better, also the opportunity to have met people from all walks of
					life through my work in research.
				</p>
				<h2 class="title text-lg">Currently tinkering</h2>
				<ul class="list-inside space-y-1 list-disc">
					<li>
						Payments technology
						<a
							class="cactus-link inline-block"
							target="_blank"
							rel="noopener noreferrer"
							href="#"
							aria-label="external link">course</a>
					</li>
					<li>
						Attendance and payment tracking solution <a
							class="cactus-link inline-block"
							target="_blank"
							rel="noopener noreferrer"
							href="#"
							aria-label="external link">github repo</a>
					</li>
					<li>
						Perceptually uniform colours <a
							class="cactus-link inline-block"
							target="_blank"
							rel="noopener noreferrer"
							href="#"
							aria-label="external link">github repo</a>
					</li>
					<li>
						Improving this website with
						<a
							class="cactus-link inline-block"
							target="_blank"
							rel="noopener noreferrer"
							href="#"
							aria-label="external link">Astro.js</a
						> 
					</li>
				</ul>
			</div>

				<Image
					src="https://res.cloudinary.com/ddgt1wiwm/image/upload/f_auto,q_auto/v1/twenty-four-assets/asset-headshot"
					alt="andie yam headshot"
					loading="eager"
					fetchpriority="high"
					class="object-cover w-[120px] min-w-[120px] h-[96px] max-h-[96px] overflow-hidden"
					height="1200"
					width="1800"
				/>

		</div>
		<SocialList />
	</div>
</PageLayout>
