---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import PostPreviewL from "@/components/blog/PostPreviewLarge";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";


// const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts);

const showcasePosts = allPostsByDate.filter((post) => post.data.tags.includes("showcase"));
const archivePosts = allPostsByDate.filter((post) => post.data.tags.includes("archive"));
const musingPosts = allPostsByDate.filter((post) => post.data.tags.includes("musings"));

---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello World!</h1>
		<p class="mb-4">
			Hi there, I'm Andie. Product designer dabbling in the intersection of business and technical
			endeavours. Here are a collection of work done in the past 10 years. Some of them are pretty
			raw . Currently, I'm a senior product designer at a Software Consultancy in Sydney called
			Thinkmill. I split my time leading designers in project streams and hands on contribution with
			craft.
		</p>
		<SocialList />
	</section>
	<section aria-label="Showcase list" class="mt-16">
		<h2 class="title mb-4 text-xl">Showcase</h2>
		<p class="mb-4">
			Software Consultancy in Sydney called Thinkmill. I split my time leading designers in project
			streams and hands on contribution with craft.
		</p>
		<ul class="flex sm:flex-row sm:space-y-0 flex-col space-y-4">
			{
				showcasePosts.map((p) => (
					<li class="flex flex-row grow min-w-[320px] gap-x-4 ">
						<PostPreviewL post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section aria-label="Musing list" class="mt-16">
		<h2 class="title mb-4 text-xl">Archive</h2>
		<p class="mb-4">
			Software Consultancy in Sydney called Thinkmill. I split my time leading designers in project
			streams and hands on contribution with craft.
		</p>
		<ul class="space-y-4 sm:space-y-2">
			{
				archivePosts.map((p) => (
					<li class="flex flex-row gap-x-2">
						<PostPreview post={p} />
						{p.data.tags.map((t) => (
							 <p>{t}</p>
						))}
					</li>
				))
			}
		</ul>
	</section>
	<section aria-label="Archive list" class="mt-16">
		<h2 class="title mb-4 text-xl">Musings</h2>
		<p class="mb-4">
			Interesting things
		</p>
		<ul class="space-y-4 sm:space-y-2">
			{
				musingPosts.map((p) => (
					<li class="flex flex-row gap-x-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
